h1 {
    color: black;
    background-color: aqua;
}

input {
    color: aliceblue;
    background-color: black;
}

body {
    background-image: url("https://content.presspage.com/uploads/685/c1920_fernandodenoronhabrazil-2.jpg?65057");
}